{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" 
                 >
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="email">Username</label></td>
                        <td><input required id="email" name="email"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input required id="password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                </table>

                <input type="submit" value="Login" 
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
                {% if message %}
                    <p class=" label label-danger">
                       {{ message }}
                    </p>
                    <p>
                       see our menu for today here!
                        <button class="btn btn-primary" onclick="window.location.href='{%url 'menu_view' request.session.menu_id %}'">Menu Day!</button>
                    </p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}